# Python
__pycache__/
*.pyc
venv/
.venv/

# Environment variables
.env

# IDE
.vscode/

# Mac
.DS_Store

#requirements in dev time
.requirements.txt

#database files
*.db
*.db.lock
Bizlytics_backend/data/